/*-- scss:defaults --*/
// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"');

/* Ajusta a cor do texto no primeiro slide */
.reveal .title-slide {
  background-color: #E9EAF0 !important; /* Fundo cinza claro */
  text-align: center;
}

/* Ajusta a cor dos títulos do primeiro slide */
.reveal .title-slide h1,
.reveal .title-slide h2,
.reveal .title-slide h3 {
  color: #282f6b !important;
  font-size: 2.5em; /* Ajuste opcional para maior visibilidade */
}

/* Garante que o nome do autor e a data fiquem na cor correta */
.reveal .title-slide .quarto-title-author,
.reveal .title-slide .quarto-title-date {
  color: #282f6b !important; /* Azul escuro */
}

/* Define o fundo de todos os slides (exceto o título) */
.reveal .slides {
  background-color: #E9EAF0;
}

/* Remove qualquer fundo branco que possa estar interferindo */
.reveal .slide-background {
  background-color: #E9EAF0 !important;
}

/* Estiliza os títulos dos demais slides */
.reveal .slides h1,
.reveal .slides h2,
.reveal .slides h3 {
  color: #282f6b;
  font-family: 'Roboto', sans-serif;
}

/* Personaliza os links */
.reveal a {
  color: #282f6b;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
  max-height: 10% !important;
  height: 55% !important;
  width: auto !important;
  color: $body-color !important;
}